<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Chartjs-chart">Chartjs Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Vega-chart">Vega Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/amChart-chart">amChart Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/highChart-chart">HighChart Chart</a>
    </li>

  </ul>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>